.place__paragraph {
    max-width: 484px;
    margin: 0;
    padding: 0;
}
.place__paragraph:last-child {
    margin-top: 26px;
}
@media screen and (max-width: 320px) {
    .place__paragraph:last-child {
        margin-top: 25px;
    }
}