.intro__title {
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    color: #FFFFFF;
}
@media screen and (max-width: 400px) {
    .intro__title {
        font-size: calc(32px + 22 * ((100vw - 320px) / (400 - 320)));
        line-height: 1.07;
    }
}