.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .lead__title {
        padding: 0 24px;
        font-size: calc(46px + (96 - 46) * ((100vw - 320px) / (768 - 320)));
        line-height: 1.04;
    }
}
@media screen and (max-width: 560px) {
    .lead__title {
        padding: 0 16px;
        font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
    }
}