.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 0 auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin-top: 32px;
        font-size: 30px;
    }
}
@media screen and (max-width: 720px) {
    .lead__subtitle {
        padding: 0 16px;
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (720 - 320)));
    }
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin-top: 18px;
        font-size: 16px;
    }
}