.intro__text {
    margin: 39px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}
@media screen and (max-width: 320px) {
    .intro__text {
        margin-top: 42px;
    }
}