.cover__title {
  max-width: 560px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  z-index: 3;
}
@media screen and (max-width: 560px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (560 - 320)));
    line-height: 1.05;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
  }
}